body {
  display: flex;
  flex-direction: column;
}

.site-header,
.site-footer {
  flex: none;
}

.page-content {
  flex: 1 0 auto;
  width: 100%;
}

// .nav {
//   order: -1;
// }

// .nav {
//   padding: 1em;
//   border-radius: 3px;
//   background: rgba(147, 128, 108, 0.1);
// }

@media (max-width: 1024px) {
  body {
    flex-direction: row;
  }
  .page-content {
    flex: 1;
    margin: 0;
  }
  // .nav {
  //   flex: 0 0 12em;
  // }
}
