
//
// * Site footer
//


.site-footer {
  padding: $spacing-unit 0;
  background: $footer-color;
  position: relative;
}

.site-footer:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  opacity: 1;
  background: linear-gradient(to right, #f9f9f9, $footer-color);
  animation: 4s ease-in-out 0s infinite alternate wave_anim;
}

@keyframes wave_anim {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.footer-copyright {
  margin: 0;
  color: #EEEEEE;
  @include fontSize(14px);
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width:         calc(80% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width:         calc(20% - (#{$spacing-unit} / 2));
}

// .footer-col-3 {
//     width:         calc(45% - (#{$spacing-unit} / 2));
// }

@include media-query-max($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    // .footer-col-3 {
    //     width:         calc(100% - (#{$spacing-unit} / 2));
    // }
}

@include media-query-max($on-palm) {
    .footer-col {
        float: none;
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
