<header class="site-header site-header-home{% if page.url == "/" %}{% endif %}">
    {% if page.url == "/" %}
      <div class="wrapper-home">
        <img class="home-logo-main" src="images/logo.svg" alt="bad css" width="360" height="201">
      </div>
    {% else %}
      <div class="wrapper-home">
        <a class="site-title" href="{{ site.baseurl }}/">
          <img class="home-logo-main" src="/images/logo.svg" alt="bad css" width="360" height="201">
        </a>
        {% if false %}
          {% include navigation.html %}
        {% endif %}
      </div>
    {% endif %}
</header>
